.about-trip {
  margin-top: 120px;
  margin-bottom: 120px;
}

.about-trip__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-trip__desc {
  width: 45%;
}

.about-trip__image-wrap {
  width: 48.2%;
}

.about-trip__intro {
  @include text-options(16px, $dark-blue, 24px, normal);
}

.about-trip__title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.about-trip__image {
  width: 100%;
}

@media (max-width: $tablet-width) {
  .about-trip {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .about-trip__title {
    padding-right: 95px;
    margin-bottom: 10px;
  }

  .about-trip__desc {
    width: 48%;
  }

  .about-trip__image-wrap {
    width: 47.7%;
  }
}

@media (max-width: $mobile-width) {
  .about-trip {
    margin-top: 45px;
    margin-bottom: 55px;
  }

  .about-trip__wrapper {
    flex-direction: column;
  }

  .about-trip__image-wrap {
    margin-top: 20px;
  }

  .about-trip__desc,
  .about-trip__image-wrap {
    width: 100%;
  }

  .about-trip__intro {
    font-size: 16px;
    line-height: 24px;
  }
}
