body {
  min-width: 320px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  color: $dark-blue;
  background-color: $white;
}
